#contact
	display none
	height 100px
	width 400px
	position absolute
	top 50%
	left 50%
	margin -75px 0 0 -200px
	z-index 10
	div
		span
			color #6969c9

#contact div
	font-size 13px
	margin 40px 0 0 0
	text-align center
	font-weight lighter
	font-variant normal
	font-family "Lucida Grande", Tahoma
	letter-spacing 0.17em
	color #737373
	span
		color #6969c9

h1
	color #434343
	font-size 40px
	font-weight lighter
	font-variant normal
	font-family "Lucida Grande", Tahoma
	letter-spacing 0.1em
	margin 0
	padding 0
	text-align center

sub
	display block
	font-size 20px
	margin 5px 0 0 0
	text-align center
	font-weight lighter
	font-variant normal
	font-family "Lucida Grande", Tahoma
	letter-spacing 0.2em
	color #737373