@import "./src/stylus/reset.styl"
@import "./src/stylus/fonts.styl"
@import "./src/stylus/global.styl"
@import "./src/stylus/menu.styl"
@import "./src/stylus/work.styl"
@import "./src/stylus/skills.styl"
@import "./src/stylus/contact.styl"