nav
	position relative
	li
		a
			color #FFF
			display block
			padding 15px 0 15px 10px
			text-decoration none
			font-size 12px
			margin 5px 0 0 0
			text-align left
			font-weight lighter
			font-variant normal
			font-family "Lucida Grande", Tahoma
			letter-spacing 0.15em
			color #FFFFFF
			opacity 0
			&:hover
				color #ccc

header
	.inside
		z-index 64
		background #000
		width 0px
		overflow hidden
		padding 35px 0
		opacity 0
		position fixed
		top 50%
		margin-top -120px
		border-top 0px solid #000
		border-bottom 0px solid #000
		border-right 0px solid #000
		box-shadow 0px 0px 3px #333333
		

#currentSection
	position absolute
	left 13px
	top 22px
	height 8px
	width 5px
	background url(../img/arrow.png) no-repeat
	opacity .7