!!! 5
html(lang='en')
	
	//-  _                 _                 _            
	//- | \ _     o  _|   |_) _ __  _  o    |_) _  ___|__|_ _  |  o  _ 
	//- |_/(_|\_/ | (_|   | \(_)| |(_| |    |  (_) |  |_ | (_) |  | (_)
	
	head
		title Makiopolis by David Ronai
		meta(charset='utf-8')
		meta(name='description', content='David Ronai portfolio')
		link(rel='Shortcut Icon', type='image/ico', href='img/favicon.png')
		link(rel='stylesheet', href='css/main.css', type='text/css')
		//- link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', type='text/css')
		script(type='text/javascript', src='js/lib/modernizr2.6.2.min.js')

	body
		#background
		#global
			#wrap
				header
					.inside
						nav
							#currentSection
							ul
								li
									h2
										a#contactBtn(href='#', title="Say Hello") Contact
								li
									h2
										a#skillBtn(href='#', title="What I do") Skills
								li
									h2
										a#workBtn(href='#', title='My Works') Works
		

		script(type='text/javascript', src='js/lib/jquery/jquery.min.js')
		script(type='text/javascript', src='js/lib/jquery/easing.js')
		script(type='text/javascript', src='js/lib/jquery/konami.js')
		script(type='text/javascript', src='js/lib/threejs/three.min.js')
		script(type='text/javascript', src='js/lib/threejs/Stats.js')
		script(type='text/javascript', src='js/lib/threejs/cube.js')
		script(type='text/javascript', src='js/lib/threejs/Detector.js')
		script(type='text/javascript', src='js/lib/tweenlite/TweenLite.min.js')	
		script(type='text/javascript', src='js/lib/dat.gui.min.js')	

		//- already indlude into threejs.min.js 
		//- script(type='text/javascript', src='js/lib/typeface-15.js')
		script(type='text/javascript', src='js/lib/threejs/fonts/helvetiker_bold.typeface.js')
		script(type='text/javascript', src='js/lib/threejs/fonts/droid/droid_sans_bold.typeface.js')
		script(type='text/javascript', src='js/lib/threejs/fonts/droid/droid_sans_bold.typeface.js')
		script(type='text/javascript', src='js/lib/threejs/fonts/droid/droid_sans_mono_regular.typeface.js')
		script(type='text/javascript', src='js/lib/threejs/fonts/droid/droid_sans_regular.typeface.js')
		script(type='text/javascript', src='js/lib/threejs/fonts/droid/droid_serif_regular.typeface.js')
		script(type='text/javascript', src='js/lib/threejs/fonts/droid/droid_serif_bold.typeface.js')

		script(type='text/javascript', src='js/main.js')